#portfolio {

    padding: 30px 30px 20px 30px;
    margin-top: 30px;
    width: 900px;
    
}
.photo-size {

    height: 200px;
    width: 200px;
}
#content-portfolio p {

    text-align: center;
    background: #4aaaa5;
    color   : #FFF;
    padding: 20px;
    position: relative;
    top: -90px;

}
#content-portfolio {

    overflow: auto;
    clear: both;

}

.wrap-project {

    float: left;
}

#trivia, #rutgers {

    margin-left: 30px;
}

div #hangman,
div #rpg_game,
div #trivia,
div #rutgers,
div #rps {

    height: 280px;
}

/* Footer */

footer {

    text-align: center; 
    flex-shrink: 0;
    background: #666666;
    color: #ffffff;
    border-top: 5px solid #63A8A4;
    padding: 20px;
    height: 20px;
    margin-top: 150px;
    

}

